<div class="content">
    <br> Services
      <div class="image-container"><img src="../assets/4.jpg"></div>
    <br> At Brien Graham Painting & Wallpapering, we go the extra mile to turn your vision into reality. Our skilled staff offers expert consultation services and handles any painting project – everything from small repairs to decorative applications and fancy finishes.
    <br> 
    <br> Our services include (but are not limited to):
    <br> 
    <ul> 
      <li> Consultation Services
      <li> Painting
      <li> Wall Coverings applied and removed
      <li> Decorative Painting
      <li> Damage Repair
      <li> New Constuction
      <li> Cleaning & Surface Prep
      <li> Consultation Services
    </ul>
    <br> At Brien Graham Painting & Wallpapering, we provide material and design recommendations to help you achieve the desired results in a timely and cost-effective manner.
    <br> 
    <br> Painting
    <br> We handle interior and exterior projects and use a number of application techniques, including brushes, rollers, sponging, spray painting and staining and polyurethaning .
    <br> 
    <br> Interior Services include painting the inside the building, staining, plaster repair, wallpaper removal, skim coating, antiquing, plastering and multicolor coating.
    <br> Exterior Services include painting the outside of the building, washing and staining decks, re-painting, graffiti removal, sealing and plastering.
    <br> Wall Coverings
    <br> Brien Graham Painting & Wallpapering installs and removes coverings, including traditional wall paper and commercial vinyl
    <br> 
    <br> Decorative Painting
    <br> We offer a range of decorative painting applications, including (but not limited to) glazing, faux finishes, stenciling, murals, exotic plaster finishes and multicolor coating.
    <br> 
    <br> Damage Repair
    <br> We repair damage caused by leaks and other mishaps, including smoke and fire damage.
    <br> 
    <br> 
    <br> 
    <br> For timely and professional painting services, look no further!
    <br> 
    <br> Brien Graham Painting & Wallpapering complies with all codes and standards, and works closely with interior designers and general contractors to provide a seamless experience to every customer.
    <br> 
    <br> Contact us today to arrange a free estimate.
</div>
