<div class="container">
<mat-card class="services-card">
    <img mat-card-image src="../assets/1.jpg" width="20" height="250">
    <mat-card-content>
      <h1>Services</h1>
      At Brien Graham Painting & Wallpapering, we go the extra mile to turn your vision into reality. Our skilled staff offers expert consultation services and handles any painting project – everything from small repairs to decorative applications and fancy finishes.
      <br>Our services include (but are not limited to):
      <ul>
        <li> Consultation Services
        <li> Painting
        <li> Wall Coverings applied and removed
        <li> Decorative Painting
        <li> Damage Repair
        <li> New Constuction
        <li> Cleaning & Surface Prep
        <li> Consultation Services
      </ul>
      At Brien Graham Painting & Wallpapering, we provide material and design recommendations to help you achieve the desired results in a timely and cost-effective manner.
     <br>
      <h1> Painting </h1>
      We handle interior and exterior projects and use a number of application techniques, including brushes, rollers, sponging, spray painting and staining and polyurethaning.
      <ul>
        <li> Interior Services include painting the inside the building, staining, plaster repair, wallpaper removal, skim coating, antiquing, plastering and multicolor coating.
        <li> Exterior Services include painting the outside of the building, washing and staining decks, re-painting, graffiti removal, sealing and plastering.
      </ul> 
      <h1>Wall Coverings </h1>
      Brien Graham Painting & Wallpapering installs and removes coverings, including traditional wall paper and commercial vinyl
      <br>
      <h1> Decorative Painting </h1>
      We offer a range of decorative painting applications, including (but not limited to) glazing, faux finishes, stenciling, murals, exotic plaster finishes and multicolor coating.
      <br>
      <h1>Damage Repair</h1>
      We repair damage caused by leaks and other mishaps, including smoke and fire damage.
      For timely and professional painting services, look no further!
      <br> 
     Contact us today to arrange a free estimate.
    </mat-card-content>
  </mat-card>
</div>