.contact-card {
    max-width: 700px;
    width: 700px;
    display: inline-block;
}

.title{
    text-align: center;
    font-size: 16px;
}

h2 {
    text-align: justify;
}

.textBlob{
    text-align: justify;
    padding-bottom: 4em;
}
  
.test{
    border: 1px ridge black;
    background-color: gray;
    width: 30em;
    align-items: center;
    padding: 8px 12px;
    box-shadow: 8px 8px 5px #444;
    background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
}

.footer{
    border: 1px ridge black;
    padding: 24px 36px;
    width: 15em;
}

.container{
    text-align: center;
  }

