<div class="container">
    <mat-card class="contact-card">
    <mat-card-content>
        <h1>Contact Us:</h1>
            <div class="textBlob">
              <ul>
    <h2>Address:</h2> 
    Brien Graham Painting & Wallpapering
    <br> 21 Ryan Road
    <br> North Brookfield, MA 01535
    <br>
    <br><h2>Phone:</h2> 1-774-345-9833
    <br>
    <br><h2>Email:</h2> Briengrahampainting@Hotmail.com
  </ul>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button><img src="../../../assets/fb.png" width="60" height="60"></button>
        <button mat-button>LinkedIn</button>
    </mat-card-actions>
    </mat-card>
</div>