<div class="container">
    <mat-card class="about-card">
    <img mat-card-image src="../assets/4.jpg" alt="stock paint" width="20" height="250">
    <mat-card-content>
        <h1>About Us:</h1>
            <div class="textBlob">
            <p> Brien Graham Painting & Wallpapering provides a wide range of painting services for homes, offices and commercial establishments.
            We offer everything from color consultations to special services.
            <br>
            <br>
            We have been providing reliable quality painting services for years and are proud of our reputation and staff. Our workers are regularly supervised.
            For timely and professional painting services, look no further! 
            <br>
            <br> Contact us today.</p>
            </div>
    </mat-card-content>
    </mat-card>
</div>