<div class="container">
<mat-card class="example-card">
    <mat-card-header>      
      <mat-card-title class="title"><strong>Brien Graham Painting & Wallpapering</strong> provides quality service for homes, offices and commercial locations. Whether it’s a simple paint job or a full makeover, we delight in surpassing your expectations.</mat-card-title>
    </mat-card-header>
    <div class="image-container"><img src="https://images.unsplash.com/photo-1493809842364-78817add7ffb?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80"></div>

    <mat-card-content>
      <h4 class="word-wrap">     
          Our highly trained staff can work closely with your interior designers and general contractors to provide material and design recommendations. We use the latest equipment to ensure little-to-no disruption in your home or business.
      </h4>
      <br>
          
      <h3>For <b>Timely</b> and <b>Professional</b> painting services, look no further! Contact us today to schedule a free estimate!</h3>
    </mat-card-content>
    
  </mat-card>
</div>